
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #173753;
    margin: 0;
    padding: 0;
  }
  
  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
    font-size: medium !important;
    font-weight: bolder !important;
  }
  
  .profile-card {
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 400px;
  }
  
  .profile-card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .profile-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .profile-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #1D70A2;
    transition: transform 0.3s ease;
  }
  
  .profile-image:hover {
    transform: scale(1.05);
  }
  
  .section-header {
    color: #1B4353;
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 5px;
  }
  
  .edit-button {
    background: #1D70A2;
    color: #fff;
    border: none;
    padding: 6px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  .edit-button:hover {
    background: #2892D7;
    transform: scale(1.1);
  }
  
  p {
    color: #173753;
    font-size: 0.85rem;
    margin: 3px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #1B4353;
    border-radius: 4px;
    outline: none;
    transition: border 0.3s ease;
  }
  
  .form-input:hover, .form-input:focus {
    border-color: #1D70A2;
  }
  .form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #1B4353;
    border-radius: 4px;
    background: white;
    cursor: pointer;
  }
  
  .form-button {
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .form-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.4s ease-out;
  }
  .modal-overlay2345{
    padding: 20px !important;
  }
  .modal-content{
    width: 600px;
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }