.container {
  align-self: center;
    min-height: 80vh;
    width: max-content;
    display: flex;
    
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap :30px;
  }
  
  .dashboard-card {
    background: white;
    margin-left: 50px !important;
    border-radius: 15px;
    padding: 30px;
    width: 300px;
    height: 200px;
    border: 0.5px solid rgb(214, 214, 214);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  /* Icon styling */
  .dashboard-icon {
    font-size: 60px;
    margin-bottom: 15px;
  }
  
  /* Text styling */
  .dashboard-text {
    font-size: 20px;
    font-weight: bold;
    color: #343a40;
  }
  
  /* Responsive gap between rows */
  .gy-4 {
    gap: 30px !important;
  }
  